<launch>


  <arg name="pddl_domain_file" default="/tmp/domain2.pddl" />
  <arg name="topological_map" default="$(find topological_navigation)/test/example.yaml" />
  <arg name="pddl_packages" default="['navigating_in_crowded_scenario']"/>
  <arg name="map" default="$(find pepper_navigation_bringup)/maps/dummy_map.yaml"/>

  <!-- External requirements -->
  <node name="pddl_builder" pkg="ir_planning" type="pddl_builder.py" respawn="false" output="screen">
      <rosparam param="pddl_packages" subst_value="True">$(arg pddl_packages)</rosparam>
      <param name="pddl_domain_file" value="$(arg pddl_domain_file)" />
  </node>

  <include file="$(find ir_planning)/launch/planning_system.launch" >
    <arg name="data_path" value="/tmp" />
    <arg name="domain_path"  value="$(arg pddl_domain_file)" />
  </include>

  <include file="$(find topological_navigation)/launch/topological_navigation.launch" >
      <arg name="topological_map"  value="$(arg topological_map)" />
      <arg name="map"  value="$(arg map)" />
  </include>


</launch>
